
@import './../../common/settings.less';

.header{
    top: 0px;
    width: 100%;
    z-index: 2015;
    position: fixed;
    text-align: center;
    height: @header-height;
    background-color: rgba(255, 255, 255, 0.92);
}

.logo{
    vertical-align: middle;
    height: unit( 108px / @rem-design-unit, rem );
}