
@import './../../common/settings.less';

.header{
    top: 0px;
    width: 100%;
    position: fixed;
    text-align: center;
    background-color: #d1e5f6;
    height: @header-height;
    z-index: 2015;
}

.logo{
    vertical-align: middle;
    height: unit( 108px / @rem-design-unit, rem );
}