
@import './../common/settings.less';
@import './../components/pagination/pagination.less';

.section-content{

    padding: unit( 15px / @rem-design-unit, rem );
    margin-top: unit( 15px / @rem-design-unit, rem );

    .section-link {
		.section-column-title {
            width: 50%;
			display: inline-block;
		}
    }

    .section-list {

        .section-left-column {
            width: 50%;
            display: inline-block;
        }

        .section-right-column {
            width: 50%;
            display: inline-block;
            vertical-align: top;
        }

        .section-column-item {
            display: block;
            margin: 0.15rem;
        }
    }
}

body{
    padding-bottom: 0px;
}
