
@import './../common/settings.less';

@border-style: dotted #619bbe 1px;

html{
    margin-bottom: 1.866667rem;
}
.section-content{
    overflow: hidden;
    padding: unit( 15px / @rem-design-unit, rem );
}

.vote-statistics-item{
    float: left;
    width: 33%;
    text-align: center;
}

.vote-statistics-key{
    color: @font-color-blue;
    font-size: unit( 32px / @rem-design-unit, rem );
    line-height: unit( 40px / @rem-design-unit, rem );
}

.vote-statistics-value{
    color: #292929;
    font-size: unit( 32px / @rem-design-unit, rem );
    line-height: unit( 48px / @rem-design-unit, rem );
}

#vote-statistics-total{
    border-left: @border-style;
    border-right: @border-style;
}

.vote-info-item{
    overflow: hidden;
    position: relative;
}

.vote-info-img-wrap{
    float: left;
    text-align: center;
    width: unit( 100px / @rem-design-unit, rem );
    line-height: unit( 85px / @rem-design-unit, rem );
}

.vote-info-img{
    display: block;
    margin: unit( 15px / @rem-design-unit, rem ) auto;
    width: unit( 50px / @rem-design-unit, rem );
}

.vote-info-item-content{
    float: left;
    width: unit( 580px / @rem-design-unit, rem ); 
    line-height: unit( 85px / @rem-design-unit, rem );
}

.vote-info-item-key{
    color: @font-color-blue;
    font-size: unit( 32px / @rem-design-unit, rem );
}

.vote-info-item-message{
    font-size: unit( 24px / @rem-design-unit, rem );
}

.vote-info-intro-content{
    line-height: unit( 40px / @rem-design-unit, rem );
    margin-left: unit( 100px / @rem-design-unit, rem );
    padding-right: unit( 40px / @rem-design-unit, rem );
}

.vote-info-intro-content-init{
    overflow: hidden;
    height: unit( 40px / @rem-design-unit, rem );
}

.vote-intro-content-display-btn{
    border: none;
    outline: none;
    position: absolute;
    background: none;
    top: unit( 5px / @rem-design-unit, rem );
    right: unit( 5px / @rem-design-unit, rem );
    width: unit( 16px / @rem-design-unit, rem );
    height: unit( 32px / @rem-design-unit, rem );
}

.vote-content-btn-normal{

    .vote-content-btn-normal-img{
        display: inline-block;
    }

    .vote-content-btn-close-img{
        display: none;
    }
}

.vote-content-btn-close{

    width: unit( 32px / @rem-design-unit, rem );
    height: unit( 16px / @rem-design-unit, rem );

    .vote-content-btn-normal-img{
        display: none;
    }

    .vote-content-btn-close-img{
        display: inline-block;
    }
}

 .section-link {
        .section-column-title {
            display: inline-block;
            width: 4.4rem;
        }
    }

    .section-list {
        .section-column-item {
            display: inline-block;
            width: 4.2rem;
            margin: 0.12rem 0.12rem;

          
        }
    }