/databaseset.php
.svn/
/bootstrap/compiled.php
/vendor/*
/app/config/qiniu.php
/app/config/database.php
/app/config/app.php
/app/test_routes.php
/app/views/test.blade.php
/app/test_routes.php
/public/dist/
/public/node_modules
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/*.mwb.bak
*.log
/.idea/
/app/views/test.blade.php
/public/home.css