
@import './settings.less';

html, body{
    font-size: 14px;
    font-family: "Microsoft YaHei","SamHei";
}

.wrapper{
    width: @design-width;
    margin: 0 auto;
    position: relative;
}

.main{
    float: left;
    width: @maing-width;
}

.clearfix{
    overflow: hidden;
    *zoom: 1;
}